.testimonials-admin-list {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.testimonials-admin-list_container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 340px));
    gap: 20px;
    justify-content: center; 
    align-content: center;
    width: 100%;
    height: 90%;
}