.testimonial-admin-tags {
  justify-self: center;
  display: flex;
  gap: 10px;
  width: 92%;
  overflow-y: scroll;
}

.testimonial-admin-tag-container {
  display: grid;
  place-items: center;
  height: 4vh;
  padding-left: 5px;
  padding-right: 5px;
  font-size: var(--medium-font);
  border: 1px solid #1e308a;
  border-radius: 90px;
  color: #1e308a;
  background-color: #fff;
}
