:root {
    --primary-color: #FF9B71;
    --secondary-color: #2F445E;
    --secondary-dark-color: #1B2E45;
    --accent-color: #4D78AD;
    --link-color: #7182FF;
    --dark-text-color: #21140F;
    --primary-font: 'Roboto';
    --error-color: #B3261E;
    --logout-color: #F45D79;
    --clean-background: #FFFFFC;

    --secondary-color-text: #4D433F;

    --primary-font: clamp(1vh, 0.8197vw + 2.8565rem, 2vh);
    --medium-font: clamp(2vh, 0.8197vw + 2.8565rem, 2.4vh);
    --large-font: clamp(3vh, 0.8197vw + 2.8565rem, 5vh);
}

html {
    font-size: var(--primary-font);
    font-family: 'Roboto';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}