@media screen and (min-width: 1024px) {

    .commit-form_buttons {
        min-width: 20vw;
        min-height: 5vh;
    }

    .commit-form_buttons button {
        min-width: 10vw;
        min-height: 6vh;
    }
}