.commit-form_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
}

.commit-form_buttons button {
    height: 100%;
    width: 40%;
    max-width: 120px;
    font-size: var(--medium-font);
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.commit-form--cancel {
    border: 1.5px solid var(--primary-blue);
    color: var(--primary-blue);
    background-color: #FFF;
}

.commit-form---commit {
    border: 1.5px solid var(--primary-blue);
    color: #FFF;
    background-color: var(--primary-blue);
}

.commit_delete--cancel {
    border: 1.5px solid var(--semantic-error);
    background-color: #FFF;
    color: var(--semantic-error);
}

.commit_delete--commit {
    border: 1.5px solid var(--semantic-error);
    color: #FFF;
    background-color: var(--semantic-error);
}