
.home-sidebar-content {
    position: absolute;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20% 80%;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    animation: showSidebar 0.3s ease-out forwards;
}

@keyframes showSidebar {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
