.sidebar-menu-icon_container, .sidebar-menu-icon_disable {
    width: 100%;
    height: 100%;
}

.sidebar-menu-icon_container {
    background-color: var(--secondary-color);
}

.sidebar-menu-icon_disable {
    background-color: transparent;
}

.sidebar-menu-icon_container img, .sidebar-menu-icon_disable img {
    min-width: 4%;
    height: 80%;
    margin: 5px;
    cursor: pointer;
}