.managment-admin-panel {
    place-items: center;
    width: 100%;
    height: 100%;
}

.managment-admin-panel_container {
    width: 90%;
    height: 90%;
    margin-top: 5vh;
    overflow-x: scroll;
}