.new-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 85%;
  max-width: 50rem;
  height: auto;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 0.0625rem solid rgba(70, 70, 70, 0.22);
  overflow: visible;
}

.new-testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 3rem 0;
  gap: 3.5em;
}

@media screen and (min-width: 64em) {
  .new-testimonial {
    min-width: 70vw;
  }
}
