

.admin-page {
    width: 100vw;
    height: 100vh;
}

.admin-page_reduce {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 768px) {
    .admin-page_reduce {
        overflow-y: auto;
    }

    .admin-page_reduce {
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

@media screen and (min-width: 1024px) {

    .admin-page_reduce {
        display: grid;
        grid-template-columns: 20% 80%;
    }
}