

.testimonial-admin-approved, 
.testimonial-admin-draft, 
.testimonial-admin-publish, 
.testimonial-admin-pending {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 4%;
    width: 30%;
    height: 100%;
}

.testimonial-admin-approved div, 
.testimonial-admin-draft div, 
.testimonial-admin-publish div, 
.testimonial-admin-pending div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.testimonial-admin-approved div {
    background-color: #317234;
}

.testimonial-admin-approved p {
    color: #317234;
}

.testimonial-admin-publish div {
    background-color: #007685;
}

.testimonial-admin-publish p {
    color: #007685;
}

.testimonial-admin-draft div {
    background-color: #BA7517;
}

.testimonial-admin-draft p {
    color: #BA7517;
}