@import '../../../animations/show-container.css';

.toast-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20%;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  border-radius: 4px;
  width: 24%;
  min-width: 344px;
}

.toast__status-bar {
  border-radius: 4px 0 0 4px;
}

.toast--success {
  background-color: #edf7ed;
}

.toast--success .toast__status-bar {
  background-color: #639922;
  width: 10px;
  align-self: stretch;
}

.toast--error .toast__status-bar {
  background-color: var(--error-color);
  width: 10px;
  align-self: stretch;
}

.toast__content-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px 12px;
}

.toast__content-container p {
  font-weight: bold;
  font-size: var(--medium-font);
}

.toast__content strong {
  color: #000;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}

.toast__content {
  flex: 1;
  font-size: 14px;
  color: #1e4620;
}

.toast__content p {
  margin: 0;
  font-weight: 500;
}

.toast__content a {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin-top: 4px;
}

.toast__close {
  padding: 0 12px;
  cursor: pointer;
}
