.table-data-container {
  margin-top: 2vh;
}

.table-header th {
  font-size: var(--medium-font);
  color: #777;
}

.table-border {
  border-left: 1px solid #ddd;
}

.clean-color {
  background-color: #fff;
}

.dark-color {
  background-color: var(--clean-backgrond);
}

.truncated-text {
  max-width: 350px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
