.table-data-container {
    margin-top: 2vh;
}

.table-header th {
    font-size: var(--medium-font);
    color: #777
}

.table-border {
    border-left: 1px solid #DDD
}

.clean-color {
    background-color: #FFF;
}

.dark-color {
    background-color: #FAFAFA;
}