

@media screen and (min-width: 1920px) {

    .background-welcome-image-container {
        position: absolute;
        z-index: 0;
        display: grid;
        place-items: center;
        width: 100%;
        height: 80%;
        overflow-y:hidden
    }

    .background-welcome-image-container img {
        padding-top: 50px;
        width: 90%;
    }
}

