

@media screen and (min-width: 1024px) {
    .background-welcome-image-container {
        height: 100vh;
    }

    .background-welcome-image-container img {
        padding-top: 80px;
        height: 100%;
        width: 80%;
    }
}
