

.text-input-container {
    position: relative;
    width: 100%;
}

.text-input-container label {
    position: absolute;
    left: 0;
    top: 0;
    font-family: var(--primary-font);
    color: var(--dark-text-color);
}

.text-input {
    width: 100%;
    font-size: var(--medium-font);
}

.text-input .text-input_container {
    width: 100%;
    margin-top: 22px;
    font-size: var(--medium-font);
}

.text-input .text-input_placeholder{
    display: block;
    font-size: var(--medium-font);
    opacity: 0.5;
    color: var(--dark-text-color);
    transition: opacity 1s;
}

.text-input .text-input-placeholder--on-focus {
    opacity: 0;
}

.text-input-error {
    margin-top: 4px;
    color: var(--error-color);
}
