.new-testimonial_form-container{
  width: 100%;
  margin:auto;
  display:flex;
  flex-direction: column;
  height: auto;
}

.new-testimonial_form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: auto;
}

.full-row-grid {
  width: 100%;
}

.icon{
  width: 1.8em;
  height: 1.8em;
}

@media screen and (min-width: 1024px){
  .new-testimonial_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .full-row-grid{
    grid-column: span 2;
  }
}