.paginator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vh 0;
  width: 100%;
  gap: 0.5vh;
}

.paginator-total {
  font-size: var(--primary-font);
  color: var(--secondary-color-text);
  align-self: flex-end;
}

.paginator-spacer {
  display: none;
}
