.sidebar-dropdown-item {
    max-height: 48px;
    cursor: pointer;
}

.sidebar-dropdown-item .sidebar-dropdown-nav-item-container {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.sidebar-dropdown-nav-item-container .sidebar-dropdown-nav-item-title-container {
    display: grid;
    grid-template-columns: 8% 92%;
    width: 100%;
    height: 100%;
}

.sidebar-dropdown-nav-item-container .sidebar-dropdown-title-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.sidebar-dropdown-nav-item-container .sidebar-dropdown-title-container h4 {
    align-self: center;
    text-align: center;
    font-size: var(--medium-font);
    font-weight: 100;
    color: #FFF;
}

.sidebar-dropdown-nav-item-container figure {
    display: grid;
    place-items: center;
}

.sidebar-dropdown-nav-item-container .sidebar-dropdown-dropdown-container {
    display: flex;
    align-items: center;
}

.sidebar-dropdown-item .sidebar-dropdown-item-container {
    display: flex;
    justify-self: start;
    align-items: center;
    width: 70%;
    height: 100%;
    border-style: none;
    background-color: transparent;
}

.sidebar-dropdown-item .sidebar-dropdown-item-container {
    display: grid;
    place-items: center;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
}

.sidebar-dropdown-item .sidebar-dropdown-item_icon-container img {
    justify-self: end;
    cursor: pointer;
    transition: transform 0.3s
}

.sidebar-dropdown-item .sidebar-dropdown-item_icon-container .img_sidebar-rotate {
    transform: rotate(180deg)
}

.sidebar-dropdown-item .sidebar-dropdown-subitems-container {
    justify-self: end;
    display: grid;
    grid-template-rows: repeat(auto-fill, 8vh);
    width: 100%;
    gap: 6px;
    padding-left: 26px;
    animation: show-sublist 0.5s forwards; 
}

.sidebar-dropdown-subitem, .sidebar-dropdown-subitem--selected {
    width: calc(100% - 26px);
    min-height: 6vh;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.sidebar-dropdown-subitem_indicator {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.sidebar-dropdown-subitem_indicator--selected {
    opacity: 1;
    background-color: var(--selected-color);
}

.sidebar-dropdown-subitem .sidebar-item {
    min-width: 0;
    max-width: none;
    max-height: none;
    padding-left: 0;
}

.sidebar-dropdown-subitem .sidebar-simple-item .sidebar-simple-item_button .sidebar-simple-item_button_container {
    width: 100%;
}

@keyframes show-sublist {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
