

@media screen and (min-width: 768px) {
    .sidebar-dropdown-item .sidebar-dropdown-nav-item-container {
        margin: 0;
        width: 90%;
    }

    .sidebar-dropdown-item .sidebar-dropdown-subitems-container {
        width: 82%;
        justify-self: center;
        padding-left: 0;
    }

    .sidebar-dropdown-nav-item-container .sidebar-dropdown-title-container {
        width: 90%;
    }

    .sidebar-dropdown-nav-item-container figure img {
        width: 4vw;
    }


    .sidebar-dropdown-item .sidebar-dropdown-item_icon-container img {
        width: 90%;
    }
}
