

@media screen and (min-width: 768px) {
    .sidebar-dropdown-item .sidebar-dropdown-nav-item-container {
        margin: 0;
        width: 100%;
    }

    .sidebar-dropdown-item .sidebar-dropdown-subitems-container {
        padding-left: 1vw;
    }
}